@import "./meta/variables";
@import "./meta/mixins.scss";
@import "./pages/pages.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color__text);
  scroll-behavior: smooth;
  background-color: grey;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
